body {
    background-color: rgb(18, 78, 110);
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.box{
    width: 100%;
    height: 100px;
    margin: 20px;
    margin: 0;
    background-image: url("https://yt3.googleusercontent.com/jHpWdf9qWNdrCjxfQxCxR0aiYY9Y1IO7s6Jwlk-OgKxS8nzjEMffakE6mdOdp2u22R3130U0nQ=s900-c-k-c0x00ffffff-no-rj");

    /* Con esta otra dorma nos podemos ahorrar lineas de codigo que funciona exactamente igual */

    /* background-image: url("https://yt3.googleusercontent.com/jHpWdf9qWNdrCjxfQxCxR0aiYY9Y1IO7s6Jwlk-OgKxS8nzjEMffakE6mdOdp2u22R3130U0nQ=s900-c-k-c0x00ffffff-no-rj"); top / cover fixed #79ec1b*/ 


    /* background-size: contain; */
    background-color: #79ec1b;
    background-size: cover;
    /* background-size: contain; */
    /* background-position: center; */
    background-position: top;
    background-attachment: fixed;
}

.opaco{
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;
}