body {
    background-color: red;
    margin: 0;
}

.box {
    width: 300px;
    height: 400px;
    /* background: linear-gradient(red, green);
    background: linear-gradient(#000, white); */ 
    background: linear-gradient(to right, transparent, #0005, transparent);
    /* background: radial-gradient(green, #000a); */
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
