body {
    font-size: 40px;
    margin: 0;
}

div {
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 23px;
    height: 80vh;
    width: 80vw;
    margin: 0;
    /* box-sizing: border-box; */
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vh;
}

h1{
    margin: 0;
    font-size: 23px;
}

span {
    color: #999;
   /*  font-size: 16px; */
    font-weight: 100;
    font-size: 1em;
}

p {
    color: #555;
    font-size: 1em;
}